/* Navigation Bar CSS */
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar .logo img {
  height: 44px;
}

.navbar .social-links a img {
  height: 24px;
  margin: 0.125rem;
}

.navbar .nav-links a {
  margin: 1rem;
  text-decoration: none;
  color: #000000;
}

.navbar .nav-links a:hover {
  margin: 1rem;
  text-decoration: underline;
  color: #000000;
}

/* Jumbotron CSS */

.jumbotron {
  text-align: center;
  padding: 100px 0;
}

/* Full Screen Content Sections */

.full-screen-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0;
}

.list-group-horizontal {
  display: flex;
  align-items: center;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.center-nav-links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
    .full-screen-section .container {
      text-align: center;
    }
    .full-screen-section .centered-image {
      display: block;
      margin: 0 auto;
      width: 1080px;
    }

  .full-screen-section:nth-child(even) {
    background-color: #ffffff;
  }

  .full-screen-section:nth-child(odd) {
    background-color: #E9ECEF;
  }